.button-store{
  box-sizing: border-box;
  display: inline-block;
  width: 199px;
  height: 60px;
  line-height: 60px;
  background-color: #252c41;
  text-align: center;
  font-stretch: normal;
  font-size: 20px;
  font-style: normal; 
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 29px;
  text-decoration: none;
  color: #fff;
  /* transition: background-color is linear, color 4s linear;*/
}
.button-store:hover,
.button-store:focus{
  background-color: #fff;
  color: #252c41;
  transition:  .5s ease-in-out;
  opacity: .9;
}
.button-store:active{
  transform: scale(.5);
}
.button-store.-second:active{
  transform: scale(.5);
}
.button-store.-second{
  width: 218px;
  line-height: 56px;
  background-color: transparent;
  border: 2px solid #fff;
}
.button-store.-second:hover,
.button-store.-second:focus{
  background-color: #fff;
  opacity: .9;
  color :#e24647;
  transition: all  .500ms linear,

}
.button-store > button, 
.button-store >  a{
  color: inherit;
  text-decoration: inherit;
  background-color: inherit;
  border: none;
  font-size: inherit;
  display: block;
  cursor: pointer;
}
.call-to-action{
  display: inline-block;
  position: absolute;
  right: 0px;
}
.botao{
  position: relative;
}
@media (max-width: 673px){
  .botao{
    position: static;
    text-align: center;
  }
  .call-to-action{
    position: static;
    }
    .call-to-action{
      text-align: center;
    }
    .button-store{
      width: 100%;
    }
    .button-store.-second{
      margin-bottom: 20px;
      width: 100%;
    }
}
@media(max-width: 525px){
  .button-store{
    margin: 0px auto;
    transform: none;
  }
}