  .container-store{
    box-sizing: border-box;
    background-color: #e24647;
    width: 90%;
    max-width: 1330px;
    padding: 55px 60px 165px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  @media screen and (max-width: 1470px), (max-height:990px)
  {
    .container-store{
      position: static;
      transform: none;
      max-width: 100%;
      margin:  0 auto;
    }
  }
  @media (max-width: 952px){
   .container-store{
    padding-right: 30px;
   }
  }

  @media (max-width:375px){
    .container-store{
      padding-right: 16px;
    }
  }