.desc-product{
  float: right;
  width: calc(50% - 125px);
  margin-left: 125px;
  font-family:  Arial, Helvetica, sans-serif;
  color: #fff;
  position: relative;
}
.desc-product > .desc-title{
  margin-bottom: 50px;
  font-size:  25px;
}
.desc-product > .item.-star{
  margin-bottom: 5px;;
  cursor: pointer;
  display: inline-block;
}
.desc-product .icon{
  transition:  transform 50ms linear;
}
.desc-product  .icon:hover{
  transform: scale(1.1);
  
}
.desc-product .icon.-active{
  display: none;
}
.desc-product > .item{
  font-size: 20px;
  margin-bottom: 30px;
}

.desc-product > .summary{
  line-height: 30px;
  font-size: 18px;
}
.desc-product > .item.-star  + .item{
margin-left: 7px;
}
dd > .more-info {
  color: #fff;
  font-size: 20px;
  font-family:  Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 100px;
  
}
.desc-product  .contrast{
text-transform: uppercase;
float: left;
}
.desc-product > .item.-info{
width: 200px;
text-align: right;
}
.desc-product > .item.-last{
  margin-bottom: 75px;
}
.desc-product > .item.-active{
  background-color: #252C41;
}
.desc-product > .item.-active .icon{
  display: none;
}
.desc-product > .item.-active .icon.-active {
  display: block;
}
.desc-product > .item.-heart{
  cursor: pointer;
  position: absolute;
  transform: translateX(-100%);
  top: 8px;
  left: -47px;
  width: 33px;
  height: 29px;;
}
@media (max-width: 1047px){
  .desc-product{
    float: none;
    width: 100%;
    margin-left: 0px;
    font-family:  Arial, Helvetica, sans-serif;
    color: #fff;
    position: relative;
  }
}
@media screen and (max-width: 1047px){
  .desc-product{
    float: none;
    width: 100%;
    position: relative;
  }
  .desc-product > .desc-title{
    margin: 50px 0;
    text-align: center;
  }
  .desc-product > .item.-heart{
    position: absolute;
    top: 0%;
    left: 15%;
  }
  .desc-product > .item.-star{
    margin: 5px auto;
    display: block;
    text-align: center;
  }
  .desc-product > .item.-star + .item{
    margin-top: 20px;
    text-align: center;
  }
  .desc-product .-info{
    margin: 20px auto;
  }
  .desc-product > .item.-last{
    margin-bottom: 50px;
  }
  .desc-product > .summary{
    display: block;
    margin: 0 auto;
    padding: 0px 20px;
  }
  dd > .more-info{
    margin-bottom: 50px;
    padding: 0 20px;
  }
}