.desc-product{
  float: right;
  width: calc(50% - 157px);;
  font-family:  Arial, Helvetica, sans-serif;
  margin-right: 60px;
  color: #fff;
}
.desc-product > .desc-title{
  margin-bottom: 100px;
  font-size:  25px;
}
.desc-product > .item{
  font-size: 20px;
  margin-bottom: 30px;
}

.desc-product > .summary{
  line-height: 30px;
  font-size: 18px;
}

dd > .more-info {
  color: #fff;
  font-size: 20px;
  font-family:  Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 100px;
  
}
.desc-product  .contrast{
text-transform: uppercase;
float: left;
}
.desc-product > .item.-info{
width: 200px;
text-align: right;
}
.desc-product > .item.-last{
  margin-bottom: 75px;
}