/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* estilo do projeto */
body{
  height: 3000px;
  position: relative;
  top: 2550px;
}
.clear{
  clear: both;
}
.header-store{
  color: #fff;
  overflow: hidden;
  margin-bottom: 158px;
  padding-left: 60px;
}

.header-store > .logo{
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}
.header-store > .navigation{
  float: right;
  font-size: 21px;
  font-family:  'roboto', sans-serif;
  position: relative;
}
.header-store .border{
  height: 1px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 200ms linear;
  transform-origin: center left;
  position: absolute;
  bottom: 0;
}
.header-store .action:hover .border{
border-bottom: 1px solid #fff;
opacity: 1;
transition: opacity 100ms linear;
transform: scale(1);
}
.navigation > a{
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  margin-right: 60px;
  padding-bottom: 8px;
  display: inline-block;
  border-bottom: 1px solid transparent;
}
.-last{
  margin-right: 0;
}