.prod-store{
  float: left;
  width: calc(50%);
  /*height: 554px;*/
  background-color: #fff;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  /*display: inline-block;*/
  
}

@media (max-width: 1047px){
  .prod-store{
    float: none;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-size: 100%;
    text-align: center;
  }
}
@media  (max-width: 800px){
  .prod-store{
    float: none;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  }
  .prod-store img{
    width: 100%;
    display: block;
  }
}
@media (max-width: 450px){
  .prod-store{
    padding-left: 30px;
  }
}