.navigation > .search{
  border: none;
  background: none;
  color: #fff;
  border-bottom-color: #fff;
 border-bottom: 1px solid #fff; 
 margin-top: 5px;
 width: 358px;
 padding: 8px;
 margin-right: 65px;
 vertical-align: bottom;
}
::-webkit-input-placeholder {
  color: #fff;
  font: 20px verdana, arial, sans-serif;
}

:-moz-placeholder {
  color: #fff;
  font: 20px verdana, arial, sans-serif;
}

::-moz-placeholder {
  color: #fff;
  font: 20px verdana, arial, sans-serif;
}

:-ms-input-placeholder {  
  color: #fff;
  font: 20px verdana, arial, sans-serif;
}